.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFAEF;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.card-left {
    width: 25%;
    padding: 32px 16px;
    background-color: #26355C !important;
    display: flex;
    align-items: center;
}

ul {
    border: none;
    color: white;
    background-color: #26355C;
    margin-top: 32px !important;
    list-style: none;
    list-style-position: outside !important;
}
.image {
    width: 60%;
}

.card-right {
    display: flex;
    border: none !important;
    gap: 16px;
    background-color: #F7F7F7 !important;
    margin: 0 !important;
    text-align: center;
    padding: 16px 40px;
    width: 75%;
}

.outer-card {
    display: flex;
    flex-direction: row !important;
    width: 70%;
}

.answer-card {
    border-radius: 0 !important;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);

}

.list-group {
    border: none !important;
    color: white !important;
    background-color: #26355C !important;
}

#start-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 32px;
}

button {
    width: fit-content;
}

#end-screen {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    width: 75%;
}

.score {
    display: flex;
}
